:root {
  --light: #fff;
  --gray1: #b3b0b8;
  --gray2: #7c7a80;
  --black1: #121212;
  --black2: #1e1f24;
  --black3: #2b2c33;
  --black4: #454652;
  --primary: #c9184a;
  --primaryPlusOne: #a4133c;
  --primaryPlusTwo: #800f2f;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

h1.title {
  margin-top: 64px;
  font-size: 22px;
  color: var(--black1);
  font-weight: 700;
}

h1.title span {
  color: var(--primary);
}

h3.title {
  max-width: 1170px;
  margin: 0px auto;
  font-size: 16px;
  color: var(--gray2);
  font-weight: 500;
}
/** Bottom container */

.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.header-sec a {
  text-decoration: none;
  border: solid 3px var(--primary);
  font-weight: 700;
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 8px;
  opacity: 1;
  transition: 0.2s;
  font-size: 14px;
}

.header-sec a:hover {
  opacity: 0.7;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  flex-wrap: wrap;
  width: 100%;
}

.filter-component {
  margin-right: 18px;
}

.filter-component p {
  color: var(--black4);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

.filter-component select {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 4px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--black4);
  border: solid 1px var(--gray1);
}

.movies-list {
  max-width: 1170px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imagem {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-color: var(--gray2);
  margin-bottom: 16px;
}

.filme-component {
  max-width: 345px;
  margin: 0px auto;
  margin-top: 64px;
  height: 400px;
}

.filme-component h1 {
  font-size: 20px;
  color: var(--black1);
  font-weight: 600;
}

.filme-component p {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray2);
  margin-bottom: 16px;
  margin-top: 12px;
}

@media (max-width: 1240px) {
  .container {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 1120px) {
  .movies-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .movies-list {
    grid-template-columns: 1fr;
  }

  .header-sec {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px auto;
    flex-direction: column;
  }

  .header-sec a {
    margin-top: 24px;
  }

  .filter-list {
    justify-content: flex-start;
  }
}
