/*Estilização Principal*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0px auto;
  margin-top: 128px;
}

.left-side {
  width: 50%;
}

.left-side h1 {
  font-size: 32px;
  color: var(--black1);
  margin-bottom: 24px;
  font-weight: 700;
}

.left-side h1 span {
  color: var(--primary);
  font-weight: 800;
}

.left-side p {
  font-size: 16px;
  color: var(--black4);
  font-weight: 400;
}

.right-side {
  width: 40%;
  height: 380px;
  border-radius: 15px;
  background-color: var(--gray1);
}

.tags-centrais {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.tag {
  padding: 15px 20px;
  background: linear-gradient(94.36deg,
      rgba(255, 255, 255, 0.93) 4.03%,
      rgba(255, 255, 255, 0.14) 101.52%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-size: 14px;
  font-weight: 500;

  margin-left: 24px;
}

.tag span {
  color: var(--primary);
  font-weight: 600;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.rodape {
  text-align: center;
  margin: 5em 3em;
}

.lista__link a {
  text-decoration: none;
  color: #121212;
  font-weight: 500;
  margin-left: 1em;
}

.rodape__texto {
  color: #121212;
  font-size: 14px;
  margin: 1em 0;
}

.lista__link a:hover {
  color: #c9184a;
}

/* Background blur efeito */
.background-blur {
  height: 400px;
  width: 400px;
  position: absolute;
  bottom: -100px;
  left: -100px;
  background: radial-gradient(50% 50% at 50% 50%,
      #c9184a 0%,
      rgba(201, 24, 74, 0) 100%);
  filter: blur(200px);
}

/* Media Query */
@media (max-width: 1240px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    margin-top: 128px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 1048px) {
  .left-side h1 {
    font-size: 28px;
    color: var(--black1);
    margin-bottom: 24px;
    font-weight: 700;
  }

  .left-side {
    width: 40%;
  }

  .left-side p {
    font-size: 14px;
    color: var(--black4);
    font-weight: 400;
  }

  .right-side {
    width: 50%;
    height: 380px;
    border-radius: 15px;
    background-color: var(--gray1);
    height: 350px;
  }
}

@media (max-width: 888px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
    flex-direction: column;
  }

  .left-side {
    width: 60%;
  }

  .right-side {
    width: 60%;
    margin-top: 48px;
    height: 380px;
    border-radius: 15px;
    background-color: var(--gray1);
    height: 350px;
  }
}

@media (max-width: 770px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    margin-top: 32px;
    height: 350px;
    border-radius: 15px;
    background-color: var(--gray1);
    height: 350px;
  }

  .left-side h1 {
    font-size: 24px;
    color: var(--black1);
    margin-bottom: 8px;
    font-weight: 700;
  }

  .left-side h1 span {
    color: var(--primary);
    font-weight: 800;
  }

  .left-side p {
    font-size: 14px;
    color: var(--black4);
    font-weight: 400;
  }

  .tags-centrais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    flex-wrap: wrap;
  }

  .tag {
    padding: 15px 20px;
    background: linear-gradient(94.36deg,
        rgba(255, 255, 255, 0.93) 4.03%,
        rgba(255, 255, 255, 0.14) 101.52%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-size: 12px;
    font-weight: 500;

    margin-bottom: 16px;
  }

  .tag span {
    color: var(--primary);
    font-weight: 600;
  }

  .background-blur {
    display: none;
  }

  .rodape ul {
    display: block;
  }
}